---
title: Animals
---
{% include "_head.njk" %}
<h1>{{ title }}</h1>
<h2>Big</h2>
<ul>
    {% for animal in mammals.animalList.big -%}
    <li>{{ animal }}</li>
    {% endfor -%}
</ul>
<h2>Small</h2>
<ul>
    {% for animal in mammals.animalList.small -%}
    <li>{{ animal }}</li>
    {% endfor -%}
</ul>
{% include "_foot.njk" %}